*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #D9CDF7;
  width: 100vw;
  font-family: 'Lato', sans-serif;
  color: #271A45;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 13px;
}

.product-info{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.product-info p{
  font-size: 10px;
  font-weight: lighter;
  margin-bottom: 12px;
}
.product-info span{
  font-size: 16;
  visibility: 50%;
  margin-bottom: 12px;
}

.product-info h1{
  font-family: 'Crimson Pro', serif;
  font-size: 32;
  margin-bottom: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-bag{
  border-radius: 999px;
  width: 148px;
  height: 32px;
  border: 0.5px solid #271A45;
  background-color: #D9CDF7;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btn-bag:hover{
  background-color: #ad8cff;
}

.product-image{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.product-image img{
  width: 466px;
}


.btn-product{
  width: 40px;
  background-color: #380db800;
  border: none;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#btn-product:hover{
  background-color: #fcfbff;
}

#render-product{
  display: none;
  width: 466px;

}

#icon {
  width: 33px;
}

@media (max-width: 770px){
  .container{
    display: flex;
    flex-direction: column;
    margin-inline: 0;
    justify-content: center;
    width: 100%;
  }
  .product-image{
    width: 100%;
    align-items: center;
    
  }
  .product-image button{
    position: relative;
    right: -150px;
  }
  .product-image img{

    width: 400px;

  }
}